.asd {
  width: 15px;
padding :10px;
border-color: blue;
border: 10px;
padding-bottom: 40px;


}
body {
  color: rgb(255, 0, 85);
}
.asdf {
  width: 15px;
  padding-left: 50px;
  padding-top: 45px;
  border-color: brown;
  border: 10px;
}